body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 2px solid #09031a;
    border-radius: 10px;
    background-color: #e8e2e2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 2px solid #574747;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #d02222;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #051220;
}
h2{
  font-weight: 100;
  color: #781c1c;
 
}